version: 2.1

orbs:
  python: circleci/python@1.5.0
  docker: circleci/docker@1.7.0

jobs:
  build-and-test: 
    docker:
      - image: cimg/python:3.11

    steps:
      - checkout
      - run: 
          name: Install Poetry
          command: |
            curl -sSL https://install.python-poetry.org | python -
      - run:
          name: Configure Poetry
          command: |
            poetry config virtualenvs.create false
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "pyproject.toml" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            poetry install -vvv
      - save_cache:
          paths:
            - ~/.cache/pip
          key: v1-dependencies-{{ checksum "pyproject.toml" }}
      - run:
          name: Download Code Climate Test Reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter
      - run:
          name: Prepare Code Climate Test Reporter
          command: |
            ./cc-test-reporter before-build
      - run:
          name: run tests
          command: |
            poetry run coverage run -m pytest
            poetry run coverage xml 
      - run:
          command: |
            ./cc-test-reporter after-build --exit-code $?
  build-and-push-docker:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker image
          command: |
            echo "$GHCR_TOKEN" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            docker build -t ghcr.io/${{ github.repository }}/my-image:latest .
            docker push ghcr.io/${{ github.repository }}/my-image:latest

workflows:
  sample:
    jobs:
      - build-and-test
      - build-and-push-docker:
          requires:
            - build-and-test
